{% extends "base.html" %}

{% block content %}
    <h2>Employee Details</h2>
    <p><strong>ID:</strong> {{ employee.id }}</p>
    <p><strong>ФИО:</strong> {{ employee.ФИО }}</p>
    <p><strong>Дата_ДР:</strong> {{ employee.Дата_ДР }}</p>
    <p><strong>Должность:</strong> {{ employee.Должность.Названия }}</p>
    <p><strong>Отдел:</strong> {{ employee.Отдел.Названия }}</p>
    <p><strong>ЗП:</strong> {{ employee.ЗП }}</p>
    <p><strong>Ставка:</strong> {{ employee.Ставка }}</p>
    <p><strong>Статус:</strong> {{ employee.Статус }}</p>
    <p><strong>Номер_телефона:</strong> {{ employee.Номер_телефона}}</p>
    <p><strong>Email:</strong> {{ employee.email }}</p>
    <p><strong>Дата_Начала:</strong> {{ employee.Дата_Начала }}</p>
    
    <a href="/employees/{{ employee.id }}/edit" class="button">Edit</a>
    <a href="/" class="button">Back to List</a>
{% endblock %}